@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A1B2E; /* brand-surface */
}

::-webkit-scrollbar-thumb {
  background-color: #4B4D6B; /* brand-secondary */
  border-radius: 4px;
  border: 2px solid #1A1B2E; /* brand-surface */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7E57C2; /* brand-primary */
}
